.hidden {
    display: none;
}
html, body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.centered {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 47px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
  }
  .centered01{
      position:absolute;
      top: 35%;
      left: 59%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      font-family: 'Anton', sans-serif;
      mix-blend-mode:color-burn;
  }
.p{
    position: relative;;
    top: 420px;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
  .meme {
      position: absolute;
      width: 750px;
      height: 390px;
       right: 26%;
       top: 35%;
border-radius: 10%;
  }
.id1{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
     text-decoration-color: aliceblue;
}
.name {
    position:absolute;
    top: 15%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
    -webkit-text-emphasis-style: circle;
}
.temp {
    position:absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.temphigh {
    position:absolute;
    top: 40%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.templow {
    position:absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 30px 
    ;      font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.averagehumidity {
    position:absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size:40px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.lowesthumidity{
    position:absolute;
    top: 40%;
    left: 79%;
    transform: translate(-50%, -50%);
    font-size: 30px 
    ;      font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.highesthumidity {
    position:absolute;
    top: 40%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 30px 
    ;      font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.warmestday{
    position:absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 40px 
    ;      font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.coldestday {
    position:absolute;
    top: 70%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 42px 
    ;      font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.contact {
    position:absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.about {
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    mix-blend-mode:color-burn;
}
.ceo {
    position: absolute;
    width: 700px;
    height: 360px;
     right: 29%;
     top: 42%;
}
.hourlyweather {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 65%;
    mix-blend-mode:color-burn;
    font-family: 'Anton', sans-serif;}



